.header_container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, #0e0e0e, transparent);
  z-index: 99;
}
.header_wrapper {
  padding: 1.5rem 1rem;
  display: flex;
}

.nick_logo {
  height: 3rem;
  width: 3rem;
  object-fit: contain;
}

@media screen and (min-width: 1048px) {
  .header_wrapper {
    padding: 3rem 2rem;
  }
}
@media screen and (min-width: 1340px) {
  .header_wrapper {
    padding: 2rem 6rem 3rem 6rem;
  }
  .nick_logo {
    height: 4rem;
    width: 4rem;
  }
}

@media screen and (min-width: 1580px) {
  .header_wrapper {
    padding: 3rem 6rem;
  }
}
