:root {
  background-color: var(--black-color);
  --primary-color: #7e0c0c;
  --white-color: #f4f4f4;
  --black-color: #0e0e0e;
  --grey-color: #b7b7b7;
  --grey-dark-color: #8d8d8d;
  --max-global-width: 1580px;
  --button-width: 14rem;

  --padding: 3rem 1.5rem;
  --center: auto;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grays;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-height: 100svh;
}

p,
span {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 70%;
  font-family: var(--font-deutschlander);
}
h1 {
  font-size: clamp(5rem, 9vw, 10rem);
}
h2 {
  font-size: clamp(4rem, 8vw, 7rem);
}

h3 {
  font-size: clamp(2.5rem, 6vw, 5rem);
}
h4 {
  font-size: clamp(2.5rem, 4vw, 4.5rem);
  line-height: 75%;
}
h5 {
  font-size: clamp(1.8rem, 3vw, 4rem);
}
h6 {
  font-size: clamp(1.5rem, 2.5vw, 2.8rem);
}

p,
li {
  font-family: var(--font-ptsans);
}
span {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-track {
  background: var(--black-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

/* Inquiry Form */

.call-section_block.iframe-block {
  background-color: #08182f;
  background: #08182f;
}
.form_iframe {
  width: 100% !important;
  background: transparent !important;
  background-color: transparent !important;

  border: none;
  overflow: hidden;
  height: 386px;
}
.form_iframe html {
  background-color: transparent !important;
  background: transparent !important;
}

/* Inquiry Form End */

/* Globals  */
.chevron_d-active {
  transform: rotate(-180deg);
  transform-origin: center;
}
.mg_full-content {
  margin: 1.5rem 0;
}

.icon--sm {
  height: 2rem;
  width: 2rem;
  transition: 300ms ease-in-out;
}
.bold {
  font-weight: 700 !important;
}

.uppercase {
  text-transform: uppercase;
}
.m-left-005 {
  margin-left: 0.5rem;
}

.m-top-005 {
  margin-top: 0.5rem;
}
.m-top-1 {
  margin-top: 1rem;
}
.block-content {
  display: grid;
  padding: var(--padding);
}

.colored-primary {
  color: var(--primary-color);
}
.colored-white {
  color: var(--white-color);
}
.colored-black {
  color: var(--black-color);
}
.colored-grey {
  color: var(--grey-color);
}
.colored-grey_dark {
  color: var(--grey-dark-color);
}

.v-align-gap-005 {
  display: grid;
  gap: 0.5rem;
}
.v-align-gap-1 {
  display: grid;
  gap: 1rem;
}
.v-align-gap-2 {
  display: grid;
  gap: 2rem;
}
.v-align-gap-4 {
  gap: 4rem;
}

.h-justify-center {
  justify-content: center;
}
.h-justify-center-g {
  justify-items: center;
}
.h-justify-between {
  display: flex;
  justify-content: space-between !important;
}
a {
  text-decoration: none;
}
.h-align-gap-005 {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.h-align-gap-1 {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.h-align-left {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}
.twoCol {
  justify-content: space-between;
}
.threeCol {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.v-align-baseline {
  align-items: baseline;
}
.v-align-end {
  align-items: flex-end;
}
.v-align-center {
  align-content: center;
  align-items: center;
}

/* Globals End */

.button {
  font-family: var(--font-deutschlander);
  padding: 1rem;
  border: none;
  border-radius: 0;
  font-size: 1.6rem;
  width: 100%;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: initial;
  cursor: pointer;
  border-radius: 0.4rem;
  line-height: 67%;
  text-align: center;

  transition: 400ms ease-in-out;
}
.text-center {
  text-align: center;
}
.text-center-m {
  text-align: center;
}

.hd__big {
  text-transform: uppercase;
}
.plan-ul {
  display: grid;
  gap: 0.6rem;
}
.plan-ul li {
  display: flex;
  align-items: center;
}
.plan-ul li::before {
  content: "";
  background: url(./assets/icons/check-circle.svg);
  background-size: cover;
  height: 1.5rem;
  width: 1.5rem;
  display: inline-block;
  margin-right: 0.6rem;
}

/* Presentation Section */
.h-grid-auto {
  grid-auto-flow: column;
}
.prest_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.train-process {
  grid-column: 1/-1;
}
.prest_grid .hd__prest {
  grid-column: 1/-1;
}

.hd__anm {
  position: relative;
  font-size: clamp(3rem, 8.5vh, 6rem);
  transform: translateY(2px);
  margin-left: 0.6rem;
  display: inline-block;
}
h2.hd__prest,
h2.hd__prest span::before,
h2.hd__prest span::after {
  font-size: clamp(6rem, 23vw, 12rem);
  line-height: 0.6;
}

.hd__anm::before {
  content: "THE MUTANT";
  position: absolute;
  top: 0;
  bottom: 0;
  animation: MutantAnimation 2000ms infinite linear alternate;
  left: 0;
  cursor: text;
}
@keyframes HeadingAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hd__anm::after {
  content: "NICK WALKER";
  animation: HeadingAnimation 2000ms infinite linear alternate-reverse;
  cursor: text;
  display: inline-block;
}
@keyframes MutantAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*  */
body {
  background-color: #000000;
}
.main-wrapper {
  background: url(./assets/images/main-bg.webp);
  background-size: 100%;
  background-position: 50%;
  position: relative;
  min-height: inherit;
}
.svc-cntr {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent url("./assets/images/noise-transparent.png") repeat 0
    0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 0.9;
  visibility: visible;
  pointer-events: none;
}
@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}

.nw_prss_img {
  background: url(./assets/images/Nick-posing.webp);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 25rem;
  display: block;
  background-repeat: no-repeat;
  grid-column: 1/-1;
  filter: drop-shadow(0px 7px 57px #000000);
}

/* About Nick */

.nick__acc-grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 1rem;
}
.nick__acc-grid h2 {
  grid-column: 1/-1;
}
.nicks-hdns {
  display: none;
}
.nick__acc-grid p {
  position: relative;
}
.nicks-wrapper .nicks-photo {
  display: grid;
  align-items: flex-end;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 7px 57px #000000);
}

.nicks-wrapperA {
  grid-column: 1/6;
}

.nicks-wrapperB .nicks-photo {
  background: linear-gradient(180deg, rgba(14, 14, 14, 0) 50%, #0e0e0e 100%),
    url(./assets/images/posing.png);
  background-size: cover;
  background-position: center;
  height: 25rem;
  width: 100%;
}

.nicks-wrapperB {
  grid-column: 6/11;
}
.nicks-wrapperA .nicks-photo {
  background: linear-gradient(180deg, rgba(14, 14, 14, 0) 50%, #0e0e0e 100%),
    url(./assets/images/dumbbell.png);
  background-size: cover;
  background-position: center;
  height: 25rem;
  width: 100%;
}
.nicks-wrapperC {
  display: none;
}

/*  */

/* Bloodwork Content */

.bloodwork_wrapper {
  background: url(./assets/images/bloodwork-mobile.jpg);
  background-position: left;
  width: 100%;
  background-size: cover;
  padding: 1rem;
  min-height: 33rem;
  filter: drop-shadow(0px 7px 57px #000000);
}
.bloodwork_wrapper > p {
  max-width: 50%;
}
/*  */

/* Full TIme Plans */
.hd__trns {
  /*   opacity: 0.2; */
  font-size: clamp(5rem, 15vw, 10rem);
  text-align: right;
  transition: 200ms ease;
}
.plans_faq {
  display: none;
}

.plans_pick-container .button.plan_active {
  background-color: var(--primary-color) !important;
}
.plans_pick-container .button {
  font-size: 1.4rem;
  text-transform: none;
  background-color: #1b1b1b !important;
  color: var(--grey-color);
  border-radius: 0;
}

.dropdown_container {
  display: grid;
  opacity: 0;
  will-change: opacity, position;
  transition: top 400ms, opacity 200ms ease;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 66px;
  pointer-events: none;
  z-index: 99;
  /*   height: 0%;
  overflow: hidden; */
  border-radius: 0 0 0.4rem 0.4rem;
  overflow: hidden;
}
.plans_pick-container {
  position: relative;
}
.dropdown_active {
  pointer-events: all;
  opacity: 1;
  position: absolute;
  /*   opacity: 1;
  visibility: visible; */
}

.full-time_container > h2 {
  opacity: 0.2;
}

.full-time-plan_card {
  background: linear-gradient(-45deg, #7e0c0c, #600c0c, #990000, #550505);
  padding: var(--padding);
  animation: FullTimeCardAnimation 7s ease infinite;
  background-size: 200% 200%;
  /*   border-radius: 0.4rem; */
  filter: drop-shadow(0px 7px 57px #000000);
}
.full-time-plan_card .button:hover {
  background-color: var(--black-color);
  color: var(--white-color);
}

.full-time-plan_card p,
.full-time-plan_card li {
  color: #e3e3e3;
}

.button.button-animation_active {
  animation: ButtonAnimation 500s ease-in-out !important;
}
@keyframes ButtonAnimation {
  0% {
    background-color: var(--white-color) !important;
    color: var(--primary-color) !important;
  }
  50% {
    background-color: var(--black-color) !important;
    color: var(--white-color) !important;
  }
  100% {
    background-color: var(--white-color) !important;
    color: var(--primary-color) !important;
  }
} /* 
@keyframes CardUpdate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
} */
.full-time-plan_card span {
  font-family: var(--font-ptsans);
}
@keyframes FullTimeCardAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.hd__trns span:nth-of-type(1) {
  display: inline-block;
  margin-right: 0.5rem;
  opacity: 0.5;
}
.hd__trns span:nth-of-type(2) {
  opacity: 0.5;
}
.hd__trns span.anm_txt-active:nth-of-type(1) {
  animation: TextAnimation 2s ease-in-out forwards;
}

@keyframes TextAnimation {
  0% {
    opacity: 1;
  }
  1% {
    opacity: 0;
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100vw);
  }

  100% {
    opacity: 0.5;
    transform: translateX(0);
  }
}
/* 
.hd__trns span.anm_txt-active:nth-of-type(2) {
  animation: TextAnimation2 2s ease forwards;
}

@keyframes TextAnimation2 {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
} */

/* Full Time Plans End */

/* Mutant arm guide */
.arm_guide-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  /*   align-items: baseline;
  align-content: baseline; */
}
.arm_guide-container .button {
  grid-column: 1/-1;
}
.arm_guide-container .button:hover {
  background: var(--primary-color);
  color: var(--white-color);
}
.arm-steps {
  grid-column: 1/2;
  grid-row: 2/3;
  align-items: baseline;
  align-content: center;
}
.mutant-arm_imgA {
  background: url(./assets/images/arm-guideA.webp);
  background-size: cover;
  height: 25rem;
  width: 100%;
  grid-row: 1/2;
  grid-column: 1/-1;
  filter: drop-shadow(0px 7px 57px #000000);
}
.mutant-arm_imgB {
  grid-column: 2/3;
  grid-row: 2/3;
  background: url(./assets/images/arm-guideB.webp);
  background-size: cover;
  height: 100%;
  width: 100%;
  filter: drop-shadow(0px 7px 57px #000000);
  background-position: 92%;
}

/* Arm Guide End */

/* Footer */

.icon--sm.footer--icon {
  color: var(--white-color);
}
.icon--sm.footer--icon:hover {
  color: var(--primary-color);
  fill: var(--primary-color);
}

/*  */

/* Call Section */

.call-section_container {
  background: radial-gradient(
    circle,
    rgba(20, 20, 20, 1) 0%,
    rgba(27, 27, 27, 1) 100%
  );
  filter: drop-shadow(0px 7px 57px #000000);
}

/* Call Section End */

/* Inquiry Section */

.inquiry_block {
  background: radial-gradient(
    circle,
    rgba(113, 17, 17, 1) 0%,
    rgba(126, 12, 12, 1) 100%
  );
  padding: 3rem 1rem 0 1rem;
}

/* Inquiry Section End */

/* Presentation Section */

.presentation-break {
  display: none;
}
.presentation-img {
  filter: drop-shadow(0px 7px 57px #000000);
}
.presentation-wrapper h5 {
  position: relative;
  z-index: 2;
}
.presentation-wrapper .workouts .presentation-img {
  height: 25rem;
  background: url(./assets/images/presentation/workout.jpg);
  background-size: cover;
  background-position: center;
}
.presentation-wrapper .nutrition .presentation-img {
  height: 25rem;
  background: url(./assets/images/presentation/meals.png);
  background-position: center;
  background-size: cover;
}
.presentation-wrapper .communication .presentation-img {
  height: 25rem;
  background: url(./assets/images/presentation/communication.png);
  background-size: cover;
  background-position: center;
}
.description ul li {
  display: flex;
  align-items: center;
}
.description ul li::before {
  content: "";
  background: url(./assets/icons/check.svg);
  display: inline-block;
  margin-right: 0.5rem;
  height: 1.5rem;
  width: 2rem;
  background-size: contain;
  background-repeat: no-repeat;
}
/*  */

@media screen and (min-width: 768px) {
  .presentation-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .presentation-wrapper .description {
    display: none;
    position: relative;
  }
  .training_wrapper h2 {
    text-align: center;
  }
  .prest_grid .hd__prest,
  .train-process {
    grid-column: 1/2;
  }
  .train-process h4,
  .train-process > div {
    justify-self: flex-start;
  }
  .nw_prss_img {
    grid-column: 2/3;
    grid-row: 1/5;
    height: 100%;
    background-size: cover;
    background-position: center;
  }
  .hd__anm {
    margin-left: 0;
  }
  h2.hd__prest,
  h2.hd__prest span::before,
  h2.hd__prest span::after {
    line-height: 0.7;
  }
  /*  .mutant-arm_imgA {
    grid-column: 1/2;
  }
   */
  .arm-steps {
    grid-column: 1/2;
    /*     justify-self: center; */
  }

  .arm_guide-container .button {
    max-width: 18rem;
    grid-column: 1/-1;
    justify-self: center;
  }

  .call-section_wrapper .button {
    max-width: var(--button-width);
    margin-inline: auto;
  }
  .call-section_wrapper .button:hover .colored-primary {
    color: var(--white-color);
  }
  .call-section_wrapper .button:hover {
    background-color: var(--primary-color);
    gap: 2rem;
  }

  .bloodwork_wrapper {
    background: url(./assets/images/bloodwork.jpg);
    height: 40rem;
    background-position: 60% 60%;
    background-size: cover;
    padding: 4rem;
  }
  .nicks-wrapperB .nicks-photo {
    background-position: 35% 21%;
  }
  .bloodwork_wrapper > h2 {
    max-width: 28rem;
  }
  .bloodwork_wrapper > p,
  .bloodwork_wrapper > a {
    max-width: 21rem;
  }

  .bloodwork_wrapper .button {
    max-width: max-content;
  }
  .bloodwork_wrapper .button:hover {
    /*  gap: 2rem; */
    color: var(--primary-color);
  }
  .bloodwork_wrapper .button:hover .icon--sm {
    transform: rotate(-45deg);
    color: inherit;
  }
  .bloodwork_wrapper .button .icon--sm {
    transition: inherit;
  }
  .call-section_wrapper,
  .inquiry_block-wrapper {
    max-width: 29rem;
    margin-inline: auto;
  }
  .text-center-m {
    text-align: left;
  }
  .plans_faq {
    display: grid;
  }

  /*  .train-process {
    grid-template-rows: 1fr;
  } */
  .train-process h4 {
    display: none;
  }
  /*   .train-process div {
    justify-self: center;
  } */

  .full-time_container {
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
  }
  .plans_pick-container {
    grid-column: 2/3;
  }
  .hd__trns {
    grid-column: 1/-1;
  }
}

@media screen and (min-width: 1048px) {
  .block-content.inquiry_block {
    padding: 3rem 6rem 0 6rem;
  }
  .presentation-wrapper .workouts .presentation-img,
  .presentation-wrapper .nutrition .presentation-img,
  .presentation-wrapper .communication .presentation-img {
    height: 35rem;

    background-repeat: no-repeat;
  }
  /* .presentation-wrapper .communication .presentation-img {
    background-position: 18% 0;
  } */
  .presentation-wrapper .workouts .presentation-img {
    background-position: center;
  }
  .presentation-heading {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .presentation-heading h2 {
    grid-column: 1/-1;
  }
  .presentation-heading h5 {
    grid-column: 1/3;
  }
  .presentation-heading p {
    grid-column: 1/2;
    padding-right: 4rem;
  }
  .presentation-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 1rem;
  }
  .presentation-wrapper .description {
    display: grid;
    align-content: baseline;
    margin-top: 4rem;
  }
  .presentation-break {
    display: none;
  }
  .mutant-arm_imgB {
    grid-column: 2/3;
    grid-row: auto;
  }

  .plans_faq .v-align-gap-005 {
    gap: 1rem;
  }
  .bloodwork_wrapper > h2 {
    max-width: 28rem;
  }
  .bloodwork_wrapper > p,
  .bloodwork_wrapper > a {
    max-width: 25rem;
  }
  .bloodwork_wrapper {
    height: 46rem;
  }
  .arm-guide {
    gap: 2rem;
  }
  .arm_guide-container {
    grid-template-columns: repeat(10, 1fr);
    grid-auto-rows: 45rem;
    gap: 2rem;
  }
  .arm-steps {
    grid-column: 1/3;
    grid-row: auto;
    gap: 2rem;
    align-self: flex-start;
  }
  .mutant-arm_imgA {
    grid-column: 3/9;
    height: 40rem;
  }
  .mutant-arm_imgB {
    grid-column: 9/11;
    height: 20rem;
    align-self: flex-end;
  }

  .nick__acc-grid > h2 span {
    display: none;
  }
  .nicks-hdns {
    display: grid;
    align-content: baseline;
    grid-column: 1/3;
    position: relative;
    z-index: 55;
    /* height: min-content; */
  }
  .nicks-hdns h2 {
    text-wrap: nowrap;
  }
  .nicks-hdns h2:nth-of-type(1) {
    position: sticky;
    top: 1rem;
  }
  .nicks-hdns h2:nth-of-type(2) {
    opacity: 0.8;
    position: sticky;
    top: 7rem;
  }
  .nicks-hdns h2:nth-of-type(3) {
    opacity: 0.5;
    position: sticky;
    top: 13rem;
  }
  .nicks-hdns h2:nth-of-type(4) {
    opacity: 0.2;
    position: sticky;
    top: 13rem;
  }

  .nicks-wrapperA {
    grid-column: 3/6;
  }
  .nicks-wrapperB {
    grid-column: 6/9;
  }
  .nicks-wrapperC {
    display: grid;
    align-items: flex-end;
    background: url(./assets/images/complete.webp);
    background-size: cover;
    grid-column: 9/11;
    align-self: flex-end;
    height: 20rem;
    background-position: center;
    filter: drop-shadow(0px 7px 57px #000000);
  }
  .nicks-wrapperA .nicks-photo,
  .nicks-wrapperB .nicks-photo {
    height: 35rem;
  }
  .full-time-plan_card {
    max-width: 25rem;
    margin-inline: auto;
    gap: 1.5rem;
    padding: 2rem;
  }
  .prest_grid {
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: min-content min-content min-content repeat(7, 30px);
    gap: 2rem;
  }
  .nw_prss_img {
    grid-column: 3/4;
  }
  .prest_grid .hd__prest,
  .train-process {
    grid-column: 1/3;
  }

  .train-process h4 {
    display: block;
  }
  .prest_grid .hd__prest {
    grid-row: 1/2;
  }
  .nw_prss_img {
    grid-row: 1/11;
  }
  /*  .nw_prss_img {
    height: 36rem;
  } */
  .training_wrapper h2:first-child {
    text-align: left;
  }
  .full-time_container h2 {
    text-align: right;
  }

  .full-time_container h2:not(.full-time-plan_card h2) {
    align-self: center;
    transform: translateY(30px);
  }

  .full-time_container {
    grid-template-columns: 30% 1fr 30%;
    grid-template-rows: min-content 1fr;
    gap: 2rem;
    align-items: center;
  }
  .plans_pick-container {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .plans_pick-container .button.plan_active {
    color: var(--primary-color);
    background-color: transparent !important;
    background: transparent !important;
    /*  font-size: clamp(1.8rem, 4vw, 5rem); */
  }
  .plans_faq {
    grid-row: 2/2;
    grid-column: 1/2;
    align-self: center;
  }
  .plan-card_wrapper {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .full-time_container .hd__trns {
    grid-row: 2/3;
    grid-column: 3/3;
    position: sticky;
    bottom: 3rem;
    align-self: flex-end;
  }

  .mg_full-content {
    margin: 3rem 0;
  }
  .block-content {
    padding: 3rem 2rem;
  }
  @keyframes TextAnimation {
    0% {
      color: var(--grey-dark-color);
    }

    50% {
      color: var(--primary-color);
    }

    100% {
      opacity: 0.5;
      color: var(--grey-dark-color);
    }
  }
  .dropdown_container {
    position: static;
    display: flex;
    opacity: 1;
    pointer-events: all;
    gap: 3rem;
  }

  .plans_pick-container > .button {
    display: none;
  }
  .dropdown_container .button {
    cursor: pointer;
    background-color: transparent !important;
    text-align: left;
    background: transparent !important;
    transition: 100ms ease-in-out;
    will-change: contents;

    width: auto;
    color: var(--grey-color);
    font-size: clamp(1.8rem, 3vw, 4rem);
    padding-inline: 0;
  }
  .dropdown_container .button:hover {
    color: var(--primary-color);
  }
  .nick__acc-grid {
    row-gap: 0;
    column-gap: 2rem;
  }

  .nick__acc-grid h2 {
    font-size: clamp(7.4rem, 23vw, 8rem);
    max-width: 46rem;
    position: relative;
    z-index: 2;
  }
  .arm-guide h2 {
    font-size: clamp(7.4rem, 23vw, 8rem);
  }
  .prest_grid .hd__prest {
    position: sticky;
    top: 1rem;
  }
  .train-process {
    align-content: baseline;
    align-items: baseline;
    grid-row: 3/11;
  }
  .train-process > div {
    justify-content: space-between !important;
    width: 80%;
  }
}

@media screen and (min-width: 1193px) {
  .hd__anm {
    margin-left: 0.7rem;
  }
}
@media screen and (min-width: 1340px) {
  .presentation-heading p {
    grid-column: 1/3;
  }
  .max-gl-wdh {
    max-width: var(--max-global-width);
    margin-inline: auto;
  }

  .block-content {
    padding: 3rem 6rem;
  }

  .prest_grid {
    position: relative;
  }

  .train-process > div .v-align-gap-005 {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  .train-process > div {
    width: 85%;

    position: sticky;
    top: 10rem;
  }
}
@media screen and (min-width: 1580px) {
  .full-time-plan_card,
  .call-section_wrapper,
  .inquiry_block-wrapper {
    max-width: 28rem;
  }
  .presentation-heading p {
    grid-column: 1/3;
  }
}

@media screen and (min-width: 1740px) {
  .train-process > div {
    width: 90%;
  }
  .full-time-plan_card,
  .call-section_wrapper,
  .inquiry_block-wrapper {
    max-width: 33rem;
  }
  p,
  li {
    font-size: 1.3rem;
  }
}
@media screen and (min-width: 2220px) {
  .max-gl-wdh {
    max-width: 1980px;
    margin-inline: auto;
  }
}

@media screen and (min-height: 1100px) and (min-width: 1340px) {
  .full-time-plan_card {
    height: 37rem;
    align-content: center;
  }
}
