.hero_section {
  min-height: 600px;
  height: 85svh;
  height: 85vh;
  background: linear-gradient(90deg, #0e0e0e 0%, rgba(0, 0, 0, 0) 50%),
    url(assets/images/bg.webp), #d3d3d300 50% / cover no-repeat;
  background-size: cover, cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  display: grid;
  align-items: center;
  justify-content: flex-start;
  filter: drop-shadow(0px 7px 57px #0e0e0e);
  padding: 0;
}

.nicks_acc {
  display: none;
}
.nicks_achievements {
  display: none;
}
.hero_wrapper {
  padding: 1.5rem;
}
@media screen and (min-width: 768px) {
  .hero_section {
    background-position: initial;
    background: linear-gradient(270deg, #0e0e0e 0%, rgba(14, 14, 14, 0) 50%),
      linear-gradient(90deg, #0e0e0e 0%, rgba(0, 0, 0, 0) 50%),
      url(./assets/images/bg.webp), #d3d3d300 50% / cover no-repeat;

    background-size: cover, cover;
    background-repeat: no-repeat;
  }
  .hero_wrapper {
    justify-content: space-between;
    grid-auto-flow: column;
    align-items: center;
  }
  .hero_section {
    justify-content: initial;
  }
  .nicks_achievements {
    display: grid;
  }
  .nicks_achievements h5 {
    line-height: 100%;
    text-align: right;
  }
}
@media screen and (min-width: 1024px) {
  .hero_section {
    background-position: initial;
    background: linear-gradient(270deg, #0e0e0e 0%, rgba(14, 14, 14, 0) 50%),
      linear-gradient(90deg, #0e0e0e 0%, rgba(0, 0, 0, 0) 50%),
      url(./assets/images/lg-bg.webp), #d3d3d300 50% / cover no-repeat;

    background-size: cover, cover;
    background-repeat: no-repeat;

    padding: 0;
  }
  .hero_wrapper {
    /*     padding: 3rem 6rem; */
    width: 100%;
    padding: 3rem 2rem;
    max-width: 1580px;
    margin-inline: auto;
  }
}
@media screen and (min-width: 1340px) {
  .hero_wrapper {
    padding: 3rem 6rem;
  }
}
@media screen and (min-width: 1580px) {
  .hero_section {
    background-position: center;
    min-height: 790px;
  }
}
@media screen and (min-width: 1740px) {
  .hero_section {
    background-position: initial;
  }
}
@media screen and (min-width: 2220px) {
  .hero_wrapper {
    /*     padding: 3rem 6rem; */

    max-width: 1980px;
  }
}
